.user:hover {
    background-color: #c7c8cc;
    color: rgb(4, 0, 255);
}

.item a {
    color: rgb(105, 0, 105);
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.user {
    padding: 20px 25px;
}
