.Friends{
    background-color: white;
    height: max-content;
    border-radius: 5px;
    margin: 5px 5px 0px 0px;
}

.title{
    margin: 0px 10px ;
    padding: 7px 0px 0px;
    border-bottom: 2px solid rgba(225, 227, 230, 1) ;
}

.amountfriends{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: 210px;
 height: 180px;
 padding: 6px 10px 8px;
 overflow-y: scroll ;
 border-bottom: 5px solid #e1e3e6;
 cursor: pointer;
}
